@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.main-navbar {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}


footer {
    font-size: 20px;
    padding: 30px;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 100vw;
}